<h2>Contacts</h2>

<article>
    <p>This application was created by Skyler Hahn.</P>
    <p>If you have any questions, please contact me at: <a href="mailto:shahn7@student.cvtc.edu">shahn7@student.cvtc.edu</a></p>
</article>